VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=tripdesignai.web.app
VITE_FIREBASE_PROJECT_ID=tripdesignai
VITE_FIREBASE_APP_ID=1:761092723609:web:b787dc733675a55e83f908
VITE_API_URL=https://wayfare-api.ido-terner.workers.dev
